body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fffbeb;
}

.active {
  color: white;
  font-weight: bolder;
}

.btn {
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 10px 0;
  background-color: #e17100;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(255, 176.6, 97.5);
}

.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #f9f8f8;
}
.topnav a {
  display: none;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:first-child {
  display: inline-block;
}
.topnav a:hover {
  color: #e17100;
}
.topnav .icon {
  float: right;
  display: block;
}
.topnav.responsive {
  position: relative;
}
.topnav.responsive a {
  display: block;
  text-align: left;
  float: none;
}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.hero__background {
  min-height: 100vh;
  background-image: url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__background .hero__content {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.2;
}
.hero__background .hero__content h1 {
  font-size: 3rem;
  margin: 0;
}
.hero__background .hero__content p {
  font-size: 30px;
}
.hero__background .hero__content .hero__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.container .section-header {
  font-size: 20px;
  text-align: center;
}
.container .features {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container .features .feature-card {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
.container .features .feature-card__img {
  background-color: #555;
}
.container .features .feature-card__img img {
  width: 100%;
  aspect-ratio: 1;
}

@media screen and (min-width: 600px) {
  .btn {
    width: 100px;
  }
  .topnav {
    display: flex;
    align-items: center;
  }
  .topnav a {
    float: left;
    display: block;
    text-align: center;
  }
  .topnav .icon {
    display: none;
  }
  .container .section-header {
    margin: 0 100px;
  }
  .container .features {
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }
}
