// Variables
$primary-color: #f9f8f8;
$text-color: #000000;
$hover-bg: #555;
$breakpoint-md: 600px;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fffbeb ;
}

.active {
  color: white;
  font-weight: bolder;
}

.btn{
    width: 100%;
    border-radius: 30px;
    border: none;
    padding: 10px 0;
    background-color: #e17100;
    color: white;
    cursor: pointer;

    &:hover{
        background-color: lighten($color: #e17100, $amount: 25);
    }
}

// header
.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $primary-color;

  a {
    display: none; // Mobile default
    color: $text-color;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:first-child {
      display: inline-block; // Show first link on mobile
    }

    &:hover {
      color: #e17100;
    }
  }

  .icon {
    float: right;
    display: block; // Show hamburger on mobile
  }

  &.responsive {
    position: relative;

    a {
      display: block;
      text-align: left;
      float: none;
    }

    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

// hero section
.hero__background{
  min-height: 100vh;
  background-image: url('../hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero__content{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.2;

    h1{
      font-size: 3rem;
      margin: 0;
    }

    p{
      font-size: 30px;
    }

    .hero__buttons{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      flex-direction: row;
      justify-content: center;
    }
  }

}

// Desktop enhancement (mobile-first)
@media screen and (min-width: $breakpoint-md) {
  .btn{
    width: 100px;
  }
  
  .topnav {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    a {
      float: left;
      display: block;
      text-align: center;
    }

    .icon {
      display: none;
    }
  }
}